*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    width: 640px;
    height: 358px;
    position: relative;
    overflow: hidden;
}

.player__controls {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    height: 30px;
    background: transparent;
    display: grid;
    grid-template-columns: 32px 1fr 1fr repeat(3, 38px);
    gap: 0 10px;
    justify-content: space-around;
    transform: translateY(120%);
    transition: all .5s;
}

.player:hover .player__controls {
    transform: translateY(0);
}

.player__play {
    background: transparent;
    border-style: none;
    color: #fff;
}

.player__bar {
    grid-column: 1 / -1;
    height: 10px;
    display: flex;
    background: rgba(0, 0, 0, 0.3);
}

.player__watched {
    height: 10px;
    background: #ffc600;
    flex-basis: 10%;
}

.player__button {
    height: 30px;
    border-style: none;
    background: transparent;
    color: #fff;
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

/* customizing range inputs */
input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
}

input[type="range"]:focus {
    outline: none;
}

/* thumb styles */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ffc600;
    cursor: pointer;
    margin-top: -5px;
    box-shadow: 1px 1px 1px #000000,
        0px 0px 1px #0d0d0d;
}

input[type="range"]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border-style: none;
    background: #ffc600;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000,
        0px 0px 1px #0d0d0d;
}

/* track styling */
input[type="range"]::-webkit-slider-runnable-track {
    background: #fff;
    width: 100%;
    height: 8px;
    border: 1px solid rgba(1, 1, 1, 0);
    cursor: pointer;
    border-radius: 50px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #fff;
}

input[type="range"]::-moz-range-track {
    background: #fff;
    width: 100%;
    height: 8px;
    border: 1px solid rgba(1, 1, 1, 0);
    cursor: pointer;
    border-radius: 50px;
}